<template>
  <div>
    <v-form ref="form" v-model="valid" lazy-validation>
      <v-select
        v-model="pwserver"
        :items="pwservers"
        :rules="[(v) => !!v || 'Item is required']"
        label="Pwservers"
        required
      ></v-select>

      <v-select
        v-model="movename"
        :items="movelist"
        :rules="[(v) => !!v || 'Item is required']"
        label="MoveName"
      ></v-select>

      <v-select
        v-model="actionname"
        :items="actionlist"
        :rules="[(v) => !!v || 'Item is required']"
        label="ActionList"
      ></v-select>
      <v-text-field
        v-model="actionvalue"
        :counter="100"
        :rules="nameRules"
        label="ActionValues Seperate, comma"
      ></v-text-field>
      <v-checkbox v-model="checkbox" label="RunNow" required></v-checkbox>

      <v-btn :disabled="!valid" color="success" class="mr-4" @click="validate">
        Validate
      </v-btn>

      <v-btn color="error" class="mr-4" @click="reset"> Reset Form </v-btn>

      <v-btn color="warning" @click="resetValidation"> Reset Validation </v-btn>
    </v-form>
  </div>
</template>
<script>
import {  mapActions } from "vuex";
export default {
  data: () => ({
    valid: true,
    name: "",
    nameRules: [
      (v) => !!v || "Name is required",
      (v) => (v && v.length <= 100) || "Name must be less than 10 characters",
    ],
    email: "",
    emailRules: [
      (v) => !!v || "E-mail is required",
      (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
    ],
    select: null,
    pwserver: "",
    movename: "",
    actionname: "",
    actionvalue: "",
    pwservers: ["ServerName 1", "ServerName 2", "ServerName 3", "ServerName 4"],
    movelist: ["MoveName 1", "MoveName 2", "MoveName 3", "MoveName 4"],
    actionlist: ["Action q", "Action e"],
    checkbox: false,
  }),

  methods: {
    ...mapActions(["addMsg", "sendMsg"]),
    validate() {
      let msg = {}
        msg.Pwserver = this.pwserver
        msg.MoveName = this.movename
        msg.Action = this.actionname
        msg.ActionValue = this.actionvalue

        this.addMsg(msg)
     // this.$refs.form.validate();
    },
    reset() {
      this.$refs.form.reset();
    },
    resetValidation() {
            let msg = {}
        msg.pwserver = this.pwserver
        msg.movename = this.movename
        msg.action = this.actionname
        msg.actionvalue = this.actionvalue
      this.sendMsg(msg)
     // this.$refs.form.resetValidation();
    },
  },
};
</script>
