<template>
<v-row>
    <v-col md="4">
      <v-card class="pa-2" outlined tile> 1 of 3 </v-card>
      <EnterForm></EnterForm>
    </v-col>
    <v-col md="2">
      <v-card class="pa-2" outlined tile> Variable width content </v-card>
    </v-col>
    <v-col md="6">
      <v-card class="pa-2" outlined tile>
        <v-toolbar color="pink" dark>
          <!-- <v-app-bar-nav-icon></v-app-bar-nav-icon> -->

          <v-toolbar-title>Play by Play Recording</v-toolbar-title>

          <v-spacer></v-spacer>

          <!-- <v-btn icon>
        <v-icon>mdi-magnify</v-icon>
      </v-btn> -->

          <!-- <v-btn icon>
        <v-icon>mdi-checkbox-marked-circle</v-icon>
      </v-btn> -->
        </v-toolbar>

        <v-list two-line>
          <v-list-item-group
            v-model="selected"
            active-class="pink--text"
            multiple
          >
            <template v-for="(item, index) in allCmd">
              <v-list-item :key="item.title">
                <template v-slot:default="{ active }">
                  <v-list-item-content>
                    <v-list-item-title v-text="item.MoveName"></v-list-item-title>

                    <v-list-item-subtitle
                      class="text--primary"
                      v-text="item.Action"
                    ></v-list-item-subtitle>

                    <v-list-item-subtitle
                      v-text="item.ActionValue"
                    ></v-list-item-subtitle>
                  </v-list-item-content>

                  <v-list-item-action>
                    <v-list-item-action-text
                      v-text="item.Pwserver"
                    ></v-list-item-action-text>

                    <v-icon v-if="!active" color="grey lighten-1">
                      mdi-star-outline
                    </v-icon>

                    <v-icon v-else color="yellow darken-3"> mdi-star </v-icon>
                  </v-list-item-action>
                </template>
              </v-list-item>

              <v-divider
                v-if="index < items.length - 1"
                :key="index"
              ></v-divider>
            </template>
          </v-list-item-group>
        </v-list>
      </v-card>
    </v-col>
</v-row>
</template>


<script>
import EnterForm from "./EnterForm.vue";

import { mapGetters } from "vuex";

export default {
    components : {EnterForm},
    data : function (){
        return{
             selected: [2],
      items: [],
        }
    },
    computed: mapGetters(["allCmd"]),
}
</script>