<template>
  <div>
    <v-row>
      <v-col cols="12">
        <base-material-stats-card
          color="primary"
          icon="mdi-poll"
          title="An Engine Info"
          v-bind:value="name"
          sub-icon="mdi-tag"
          v-bind:sub-text="fort_info"
        />
      </v-col>

    </v-row>
    <div>
         <LocalPlay></LocalPlay>
    </div>
    
        <div>
            <Reporter></Reporter>
        </div>

 
  </div>
</template>

<script>
//import EnterFormVue from "../../resources/playersimples/EnterForm.vue"


import Reporter from "./Reporter.vue";
import LocalPlay from "./LocalPlay.vue";


export default {

    components: {Reporter, LocalPlay},

  data : function() {
    return {
      name: "This is the name of the server",
      fort_info: "some real long fort info",
      selected: [2],
      items: [
        {
          action: "15 min",
          headline: "Brunch this weekend?",
          subtitle: `I'll be in your neighborhood doing errands this weekend. Do you want to hang out?`,
          title: "Ali Connors",
        },
        {
          action: "2 hr",
          headline: "Summer BBQ",
          subtitle: `Wish I could come, but I'm out of town this weekend.`,
          title: "me, Scrott, Jennifer",
        },
        {
          action: "6 hr",
          headline: "Oui oui",
          subtitle: "Do you have Paris recommendations? Have you ever been?",
          title: "Sandra Adams",
        },
        {
          action: "12 hr",
          headline: "Birthday gift",
          subtitle:
            "Have any ideas about what we should get Heidi for her birthday?",
          title: "Trevor Hansen",
        },
        {
          action: "18hr",
          headline: "Recipe to try",
          subtitle:
            "We should eat this: Grate, Squash, Corn, and tomatillo Tacos.",
          title: "Britta Holt",
        },
      ],
    };
  },

  methods: {
    complete(index) {
      this.list[index] = !this.list[index];
    },
  },
};
</script>
